@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to medication administration system!</h1>
    <p class="lead">What should I put here ?</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notice</h2>
        <p>
            We are currently building it for our FYP Phase 1.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Stay tune for the latest event in the hospital/clinic.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>